<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Data exchange manager
      <div class="pull-right">
        <button *ngIf="allowEdit" class="btn btn-sm btn-success"
                (click)="add()"
                title="Add">Add data exchange
        </button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="form-group col-md-12">
            <loadingIndicator [done]="exchanges || loadingComplete">
              <entity-viewer
                (deleted)="delete($event)"
                [items]="exchanges"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'approximateVolume'"
                [secondaryOrderText]="'Approximate Volume'"
                [typeDescription]="'Data exchange'"
                [allowDelete]="allowEdit"
                [model]="'dataExchange'"
                [pageSize]="20"
                [detailsToShow]="dataExchangeDetailsToShow">
              </entity-viewer>
            </loadingIndicator>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
