<div class="module">
  <div class="container-fluid">
    <div class="module-heading">User profile
      <div class="pull-right">
        <button type="button" class="btn btn-info" (click)="refresh()">Refresh</button>
        <button type="button" class="btn btn-danger" (click)="close()">Close</button>
      </div>
    </div>
    <div class="module-body">
      <loadingIndicator [done]="profileLoadingComplete">
        <div *ngIf="userProfile">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  {{userProfile.forename}} {{userProfile.surname}} ({{userProfile.username}})
                  <div class="pull-right">
                    <span class="input-group-append" (click)="precisCollapsed = !precisCollapsed">
                      <em class="fa fa-chevron-down input-group-text" title="Search"></em>
                    </span>
                  </div>
                </div>
                <div class="card-body" [ngbCollapse]="precisCollapsed">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-4">
                          <p class="text-left"><strong>Name: </strong>{{userProfile.forename}} {{userProfile.surname}}</p>
                        </div>
                        <div class="col-md-4">
                          <p class="text-left"><strong>Username: </strong>{{userProfile.username}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <strong>Mobile: </strong>{{userProfile.mobile}}
                        </div>
                        <div class="col-md-4">
                          <strong>Email: </strong>{{userProfile.email}}
                        </div>
                      </div>
                    </div>
                    <div class="col=md-4">
                      <img src="{{userProfile.photo}}" class="img-rounded responsive pull-right" height="156px" width="156px" alt="User photo">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <ngb-tabset>
            <ngb-tab *ngFor="let profile of userProfile.organisationProjects" title="{{profile.organisation.name}}">
              <ng-template ngbTabContent>
                <div *ngFor="let project of profile.projects">
                  <div class="card">
                    <div class="card-header">
                      <strong>Project name: </strong> {{project.name}} <br>
                    </div>
                    <div class="card-body">
                      <strong>Applications: </strong> {{getApplicationAccess(project.applicationPolicyAttributes)}} <br>
                      <strong>Subscribers: </strong> {{getStringListFromArray(project.subscribers)}}<br>
                      <strong>Publishers: </strong> {{getStringListFromArray(project.publishers)}}<br>
                      <strong>Base population: </strong> {{getStringListFromArray(project.basePopulation)}}<br>
                      <strong>Data set: </strong> {{getStringListFromArray(project.dataSet)}}<br>
                      <strong>Data sharing agreement: </strong> {{getStringListFromArray(project.dsas)}}
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </loadingIndicator>
    </div>
  </div>
</div>
