<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Data sharing overview
    </div>
    <div class="module-body">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Data sharing agreements</div>
            <div class="card-block">
              <div class="row" *ngFor="let dsa of dsaStats">
                <div class="col-md-10">
                  {{dsa.label}}
                </div>
                <div class="col-md-2">
                  {{dsa.value}}
                </div>
              </div>
              <br>
              <div class="pull-right">
                <button type="button" class="btn btn-sm btn-info" (click)="goToDsa()">View data sharing agreements</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Data flows</div>
            <div class="card-block">
              <div class="row" *ngFor="let dataflow of dataflowStats">
                <div class="col-md-10">
                  {{dataflow.label}}
                </div>
                <div class="col-md-2">
                  {{dataflow.value}}
                </div>
              </div>
              <br>
              <div class="pull-right">
                <button type="button" class="btn btn-sm btn-success" (click)="goToDataFlow()">View data flows</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Data processing agreements</div>
            <div class="card-block">
              <div class="row" *ngFor="let dpa of dpaStats">
                <div class="col-md-10">
                  {{dpa.label}}
                </div>
                <div class="col-md-2">
                  {{dpa.value}}
                </div>
              </div>
              <br>
              <div class="pull-right">
                <button type="button" class="btn btn-sm btn-warning" (click)="goToDpa()">View data processing agreements</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">Cohorts</div>
            <div class="card-block">
              <div class="row" *ngFor="let cohort of cohortStats">
                <div class="col-md-10">
                  {{cohort.label}}
                </div>
                <div class="col-md-2">
                  {{cohort.value}}
                </div>
              </div>
              <br>
              <div class="pull-right">
                <button type="button" class="btn btn-sm btn-primary" (click)="goToCohorts()">View cohorts</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">Datasets</div>
            <div class="card-block">
              <div class="row" *ngFor="let dataset of datasetStats">
                <div class="col-md-10">
                  {{dataset.label}}
                </div>
                <div class="col-md-2">
                  {{dataset.value}}
                </div>
              </div>
              <br>
              <div class="pull-right">
                <button type="button" class="btn btn-sm btn-primary" (click)="goToDataSets()">View datasets</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="summaryStats">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Data sharing summary</div>
            <div class="card-block">
              <div class="row" *ngFor="let stat of summaryStats">
                <div class="col-md-10">
                  {{stat.label}}
                </div>
                <div class="col-md-2">
                  {{stat.value}}
                </div>
              </div>
              <br>
              <div class="pull-right">
                <button type="button" class="btn btn-sm btn-info" (click)="goToSummary()">View data sharing summaries</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
