<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Regions
      <div class="pull-right">
        <button *ngIf="allowEdit" class="btn btn-sm btn-success"
                (click)="add()"
                title="Add">Add region
        </button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="form-group col-md-12">
            <loadingIndicator [done]="regions || loadingComplete">
              <entity-viewer
                (deleted)="delete($event)"
                [items]="regions"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Region'"
                [model]="'region'"
                [allowDelete]="allowEdit"
                [pageSize]="20"
                [detailsToShow]="regionDetailsToShow">
              </entity-viewer>
            </loadingIndicator>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
