<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Data flow manager
      <div class="pull-right">
        <button class="btn btn-sm btn-success"
                (click)="add()"
                title="Add">Add new
        </button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="form-group col-md-12">
            <entity-viewer
              (deleted)="delete($event)"
              [items]="dataflows"
              [primary]="'name'"
              [primaryOrderText]="'Name'"
              [displayClass]="'region'"
              [secondary]="'approximateVolume'"
              [secondaryOrderText]="'Approximate Volume'"
              [typeDescription]="'Data Flow'"
              [allowDelete]="allowDelete"
              [model]="'dataFlow'"
              [pageSize]="20"
              [detailsToShow]="dataflowDetailsToShow">
            </entity-viewer>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
