<div class="module">
  <div class="container-fluid">
    <div class="module-heading">User Account</div>
    <div class="module-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              User details
              <div class="pull-right">
                <button class="btn btn-success" (click)="editUser(selectedUser)">Edit</button>
              </div>
            </div>
            <div class="card-body">
              <loadingIndicator [done]="selectedUser">
                <div class="table" *ngIf="selectedUser">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <div class="form-group">
                        <label class="control-label">Username</label>
                        <input type="text" readonly="true" class="form-control" placeholder="Username" [(ngModel)]="selectedUser.username" name="username">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Forename</label>
                        <input type="text" readonly="true" class="form-control" placeholder="Forename" [(ngModel)]="selectedUser.forename" name="forename">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Surname</label>
                        <input type="text" readonly="true" class="form-control" placeholder="Surname" [(ngModel)]="selectedUser.surname" name="surname">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="text" readonly="true" class="form-control" placeholder="Email" [(ngModel)]="selectedUser.email" name="email">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Photo</label>
                        <input type="text" readonly="true" class="form-control" placeholder="Photo URL" [(ngModel)]="selectedUser.photo" name="photo">
                        <img src="{{selectedUser.photo}}" class="img-rounded" height="118px" width="118px" alt="User photo">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Mobile</label>
                        <input type="text" readonly="true" class="form-control" placeholder="Mobile" [(ngModel)]="selectedUser.mobile" name="mobile">
                      </div>
                    </div>
                  </div>
                </div>
              </loadingIndicator>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- ROLES -->
      <div class="row">
        <div class="form-group col-md-12">
          <div class="card">
            <div class="card-header">
              Roles
            </div>
            <div class="card-body" *ngIf="selectedUser && selectedUser.userProjects">
              <div class="col-md-12">
                <loadingIndicator [done]="loadingRolesCompleted">
                  <div class="col-md-12" *ngIf="selectedUser.userProjects!=null && selectedUser.userProjects.length == 0">No roles assigned</div>
                  <div class="col-md-12" *ngIf="selectedUser.userProjects!=null && selectedUser.userProjects.length > 0">
                    <div class="scroll-box-150">
                      <table class="table table-striped table-sm">
                        <thead>
                        <th class="w-50">Organisation</th>
                        <th class="w-50">Role</th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let role of selectedUser.userProjects" class="hover-box show-child-on-hover">
                          <td>{{role.organisationName}}</td>
                          <td>{{role.roleTypeName}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </loadingIndicator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
