<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>account_box</mat-icon>
    </div>
    <mat-card-title>User profile</mat-card-title>
    <mat-card-subtitle>Configure users</mat-card-subtitle>
    <div fxFlex></div>
  </mat-card-header>
  <mat-card-content>
    <mat-card *ngIf="userProfile">
      <mat-card-header>
        <mat-card-title>{{userProfile.forename}} {{userProfile.surname}} ({{userProfile.username}})</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
          <mat-form-field appearance="outline" fxFlex="50" fxFill mat-readonly>
            <mat-label>Forename</mat-label>
            <input matInput [(ngModel)]="userProfile.forename" placeholder="Forename" name="forename" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50" fxFill mat-readonly>
            <mat-label>Surname</mat-label>
            <input matInput [(ngModel)]="userProfile.surname" placeholder="Surname" name="surname" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50" fxFill mat-readonly>
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="userProfile.username" placeholder="Username" name="username" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50" fxFill mat-readonly>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="userProfile.email" placeholder="Email" name="email" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50" fxFill mat-readonly>
            <mat-label>Mobile</mat-label>
            <input matInput [(ngModel)]="userProfile.mobile" placeholder="Mobile" name="mobile" readonly>
          </mat-form-field>
        </div>

      </mat-card-content>
    </mat-card>
    <br>
    <mat-tab-group dynamicHeight *ngIf="userProfile?.organisationProjects">
      <mat-tab *ngFor="let profile of userProfile.organisationProjects">
        <ng-template mat-tab-label>
          <span>{{profile.organisation.name}}</span>
        </ng-template>
        <mat-card *ngFor="let project of profile.projects">
          <mat-card-header>
            <mat-card-title>{{project.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p><strong>Applications: </strong> {{getApplicationAccess(project.applicationPolicyAttributes)}}</p>
            <p [innerHTML]="project.subscribers | linkify: 'organisation':'Subscribers '"></p>
            <p [innerHTML]="project.publishers | linkify: 'organisation':'Publishers '"></p>
            <p [innerHTML]="project.basePopulation | linkify: 'cohort':'Cohorts '"></p>
            <p [innerHTML]="project.dataSet | linkify: 'dataSet':'Data sets '"></p>
            <p [innerHTML]="project.dsas | linkify: 'dsa':'Data sharing agreements '"></p>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
