<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Data exchange details
      <div class="pull-right">
        <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="save(false)">Save</button>
        <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-warning" (click)="save(true)">Save & close</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <fieldset [disabled]="!allowEdit">
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Data exchange name</label>
              <input type="text" class="form-control" placeholder="Data exchange name" [(ngModel)]="exchange.name" name="name">
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Publisher or subscriber</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="exchange.publisher" name="publisher">
                  <option *ngFor="let pub of publisherSubscriber" [ngValue]="pub.num">{{pub.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">Endpoint</label>
              <input type="text" class="form-control" placeholder="Endpoint" [(ngModel)]="exchange.endpoint" name="endpoint">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">System name</label>
              <input type="text" class="form-control" placeholder="System name" [(ngModel)]="exchange.systemName" name="systemName">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Direction</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="exchange.directionId" name="directionId">
                  <option *ngFor="let direction of flowDirections" [ngValue]="direction.num">{{direction.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">Flow schedule</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="exchange.flowScheduleId" name="flowScheduleId">
                  <option *ngFor="let schedule of flowSchedules" [ngValue]="schedule.num">{{schedule.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Data exchange method</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="exchange.dataExchangeMethodId" name="dataExchangeMethodId">
                  <option *ngFor="let method of exchangeMethod" [ngValue]="method.num">{{method.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Flow status</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="exchange.flowStatusId" name="flowStatusId">
                  <option *ngFor="let status of flowStatus" [ngValue]="status.num">{{status.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">Security infrastructure</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="exchange.securityInfrastructureId" name="securityInfrastructureId">
                  <option *ngFor="let sis of securityInfrastructures" [ngValue]="sis.num">{{sis.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Security Architecture </label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="exchange.securityArchitectureId" name="securityArchitectureId">
                  <option *ngFor="let sas of securityArchitectures" [ngValue]="sas.num">{{sas.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Approximate volume</label>
              <input type="text" class="form-control" placeholder="Approximate volume" [(ngModel)]="exchange.approximateVolume" name="approximateVolume">
            </div>
          </div>
        </fieldset>

        <ngb-accordion>
          <ngb-panel id="dataflow">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Data flow configurations
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{dataFlows?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit" type="button" class="btn btn-xs btn-success pull-right" (click)="editDataFlows()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="dataFlows"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'approximateVolume'"
                [secondaryOrderText]="'Approximate volume'"
                [typeDescription]="'Data flow'"
                [model]="'dataflow'"
                [detailsToShow]="dataflowDetailsToShow">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </form>
      <br>
      <br>
    </div>
  </div>
</div>
