<div class="module">
  <div class="container-fluid">
    <div class="module-heading">Audit trail</div>
    <div class="module-body">
      <loadingIndicator [done]="loadingComplete">
        <div class="row">
          <div class="col-md-4">
            <label class="control-label">Select Organisation</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
              <select class="form-control" [(ngModel)]="selectedOrg" name="selectedOrg" (change)="getUsers()">
                <option *ngFor="let del of delegatedOrganisations" [ngValue]="del">{{del.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <label class="control-label">Select User</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
              <select class="form-control" [(ngModel)]="selectedUser" name="selectedUser">
                <option *ngFor="let usr of userList" [ngValue]="usr">{{usr.username}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <label class="btn btn-sm btn-success pull-right" style="cursor:pointer" (click)="filter()">Filter</label>
            <label class="btn btn-sm btn-success pull-right" style="cursor:pointer" (click)="reset()">Reset</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="table scroll-box-300 form-control" style="height:100%; min-height: 650px; max-height: 650px">
                <table class="table table-striped table-condensed">
                  <thead>
                  <tr>
                    <th class="w-20">User</th>
                    <th class="w-20">Role</th>
                    <th class="w-20">Organisation</th>
                    <th class="w-10">Timestamp</th>
                    <th class="w-15">Action</th>
                    <th class="w-15">Type</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr *ngFor="let audit of auditSummaries" class="hover-box show-child-on-hover" (click)="showDetails(audit)">

                    <td>{{audit.userName}}</td>
                    <td>{{audit.userRole}}</td>
                    <td>{{audit.organisation}}</td>
                    <td>{{audit.timestamp}}</td>
                    <td>{{audit.auditAction}}</td>
                    <td>{{audit.itemType}}</td>

                  </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="pageNumber" [maxSize]="20" [pageSize]="pageSize" [boundaryLinks]="true" (pageChange)="pageChanged($event)"></ngb-pagination>
          </div>
        </div>
      </loadingIndicator>
    </div>
  </div>
</div>
