<div class="module">
  <div class="container-fluid">
    <div class="module-heading">Audit trail</div>
    <div class="module-body">
      <loadingIndicator [done]="loadingComplete">
        <div class="row">
          <div class="form-group col-md-3">
            <label class="control-label">Select organisation</label>
            <select class="form-control" [(ngModel)]="selectedOrg" name="selectedOrg" (change)="getUsers()">
              <option *ngFor="let del of delegatedOrganisations" [ngValue]="del">{{del.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label">Select user</label>
            <select class="form-control" [(ngModel)]="selectedUser" name="selectedUser">
              <option *ngFor="let usr of userList" [ngValue]="usr">{{usr.username}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
              <label class="control-label">From date</label>
              <angular2-date-picker [(ngModel)]="dateFrom" [settings]="settings" (onDateSelect)="onDateSelect($event)"></angular2-date-picker>
          </div>
          <div class="form-group col-md-2">
              <label class="control-label">To date</label>
              <angular2-date-picker [(ngModel)]="dateTo" [settings]="settings" (onDateSelect)="onDateSelect($event)"></angular2-date-picker>
          </div>
          <div class="form-group col-md-2">
            <label class="control-label">&nbsp;</label>
            <div>
              <div class="pull-right">
                <button class="btn btn-info" (click)="filter()">Filter</button>
                <button class="btn btn-warning" (click)="reset()">Reset</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="scroll-box-500">
                <table class="table table-striped table-sm">
                  <thead>
                  <tr>
                    <th class="w-20">User</th>
                    <th class="w-20">Project</th>
                    <th class="w-20">Organisation</th>
                    <th class="w-10">Timestamp</th>
                    <th class="w-15">Action</th>
                    <th class="w-15">Type</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr *ngFor="let audit of auditSummaries" class="hover-box show-child-on-hover" (click)="showDetails(audit)">

                    <td>{{audit.userName}}</td>
                    <td>{{audit.userProject}}</td>
                    <td>{{audit.organisation}}</td>
                    <td>{{audit.timestamp}}</td>
                    <td>{{audit.auditAction}}</td>
                    <td>{{audit.itemType}}</td>

                  </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="pageNumber" [maxSize]="20" [pageSize]="pageSize" [boundaryLinks]="true" (pageChange)="pageChanged($event)"></ngb-pagination>
          </div>
        </div>
      </loadingIndicator>
    </div>
  </div>
</div>
