<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Data sharing summary details
      <div class="pull-right">
        <button type="button" class="btn btn-sm btn-success" (click)="save(false)">Save</button>
        <button type="button" class="btn btn-sm btn-warning" (click)="save(true)">Save & close</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Data sharing summary name</label>
            <input type="text" class="form-control" placeholder="Data sharing summary name" [(ngModel)]="dataSharingSummary.name" name="name">
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Description</label>
            <input type="text" class="form-control" placeholder="Description" [(ngModel)]="dataSharingSummary.description" name="description">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Purpose</label>
            <input type="text" class="form-control" placeholder="Purpose" [(ngModel)]="dataSharingSummary.purpose" name="purpose">
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Schedule 2 condition</label>
            <input type="text" class="form-control" placeholder="Status" [(ngModel)]="dataSharingSummary.schedule2Condition" name="schedule2Condition">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <label class="control-label">Nature of information</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
              <select class="form-control" [(ngModel)]="dataSharingSummary.natureOfInformationId" name="natureOfInformationId">
                <option *ngFor="let nature of NatureOfInformation" [ngValue]="nature.num">{{nature.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label">Format type</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
              <select class="form-control" [(ngModel)]="dataSharingSummary.formatTypeId" name="formatTypeId">
                <option *ngFor="let format of FormatTypes" [ngValue]="format.num">{{format.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label">Data subject id</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
              <select class="form-control" [(ngModel)]="dataSharingSummary.dataSubjectTypeId" name="dataSubjectTypeId">
                <option *ngFor="let subject of DataSubjectTypes" [ngValue]="subject.num">{{subject.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label">Review cycle</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
              <select class="form-control" [(ngModel)]="dataSharingSummary.reviewCycleId" name="reviewCycleId">
                <option *ngFor="let cycle of ReviewCycles" [ngValue]="cycle.num">{{cycle.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Overview of data items</label>
            <input type="text" class="form-control" placeholder="Overview of data items" [(ngModel)]="dataSharingSummary.overviewOfDataItems" name="overviewOfDataItems">
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Nature of persons accessing data</label>
            <input type="text" class="form-control" placeholder="Nature of persons accessing data" [(ngModel)]="dataSharingSummary.natureOfPersonsAccessingData" name="natureOfPersonsAccessingData">
          </div>
        </div>
        <!--<div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label>Review Date</label>
              <datetime [timepicker]="false" [(ngModel)]="dataSharingSummary.reviewDate" name="reviewDate" [datepicker]="{ icon: 'fa fa-calendar', format: 'dd-M-yyyy', autoclose: true }" placeholder="Review Date"></datetime>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>Start Date</label>
              <datetime [timepicker]="false" [(ngModel)]="dataSharingSummary.startDate" name="startDate" [datepicker]="{ icon: 'fa fa-calendar', format: 'dd-M-yyyy', autoclose: true }" placeholder="Review Date"></datetime>
            </div>
          </div>
        </div>-->
        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label">Evidence of agreement</label>
            <input type="text" class="form-control" placeholder="Evidence of agreement" [(ngModel)]="dataSharingSummary.evidenceOfAgreement" name="evidenceOfAgreement">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
