<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      {{orgType}} details
      <div class="pull-right">
        <button *ngIf="(organisation.isService === 0) && (organisation.uuid) && (allowEdit)" type="button" class="btn btn-sm btn-success" (click)="createServiceFromOrg(false)">Create Service</button>
        <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="save(false)">Save</button>
        <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-warning" (click)="save(true)">Save & close</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <fieldset [disabled]="!allowEdit">
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">{{orgType}} name</label>
              <input type="text" class="form-control" placeholder="Organisation name" [(ngModel)]="organisation.name" name="name">
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Alternative name</label>
              <input type="text" class="form-control" placeholder="Alternative Name" [(ngModel)]="organisation.alternativeName" name="alternativeName">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">ODS code</label>
              <input type="text" class="form-control" placeholder="ODS code" [(ngModel)]="organisation.odsCode" name="odsCode">
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">ICO code</label>
              <input type="text" class="form-control" placeholder="ICO code" [(ngModel)]="organisation.icoCode" name="icoCode">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">IG toolkit status</label>
              <input type="text" class="form-control" placeholder="IG toolkit status" [(ngModel)]="organisation.igToolkitStatus" name="igToolkitStatus">
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Date of registration</label>
              <input type="date" class="form-control" placeholder="Date Of registration" [(ngModel)]="organisation.dateOfRegistration" name="dateOfRegistration">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Organisation type</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="organisation.type" name="type">
                  <option *ngFor="let ot of organisationTypes" [ngValue]="ot.id">{{ot.organisationType}}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Evidence of registration</label>
              <input type="text" class="form-control" placeholder="Evidence of registration" [(ngModel)]="organisation.evidenceOfRegistration" name="evidenceOfRegistration">
            </div>
          </div>
          <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-info" (click)="addAddress()">Add Address</button>
          <div class="well" *ngFor="let address of addresses">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="control-label">Building name</label>
                <input type="text" class="form-control" placeholder="Building name" [(ngModel)]="address.buildingName" name="buildingName">
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Number and street</label>
                <input type="text" class="form-control" placeholder="Number and street" [(ngModel)]="address.numberAndStreet" name="numberAndStreet">
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Locality</label>
                <input type="text" class="form-control" placeholder="Locality" [(ngModel)]="address.locality" name="locality">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <label class="control-label">City</label>
                <input type="text" class="form-control" placeholder="City" [(ngModel)]="address.city" name="city">
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">County</label>
                <input type="text" class="form-control" placeholder="County" [(ngModel)]="address.county" name="county">
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Postcode</label>
                <input type="text" class="form-control" placeholder="Postcode" [(ngModel)]="address.postcode" name="postcode">
              </div>
            </div>
          </div>
        </fieldset>

        <ngb-accordion>
          <ngb-panel id="regs" *ngIf="organisation.isService === 0">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Regions
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{regions?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success pull-right" (click)="editRegions()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="regions"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Regions'"
                [model]="'region'"
                [detailsToShow]="regionDetailsToShow"
                [allowDelete]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="dpapub" *ngIf="organisation.isService === 0">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Data processing agreements publishing to
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{dpaPublishing?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success pull-right" (click)="editDPAPublishing()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="dpaPublishing"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Data processing agreements'"
                [model]="'dpa'"
                [detailsToShow]="dpaDetailsToShow"
                [allowDelete]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="dsapub" *ngIf="organisation.isService === 0">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Data sharing agreements publishing to
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{dsaPublishing?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success pull-right" (click)="editDSAPublishing()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="dsaPublishing"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Data sharing agreements'"
                [model]="'dsa'"
                [detailsToShow]="dsaDetailsToShow"
                [allowDelete]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="dsasub" *ngIf="organisation.isService === 0">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Data sharing agreements subscribing to
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{dsaSubscribing?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success pull-right" (click)="editDSASubscribing()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="dsaSubscribing"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Data sharing agreements'"
                [model]="'dsa'"
                [detailsToShow]="dsaDetailsToShow"
                [allowDelete]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
          <ngb-panel *ngIf="organisation.isService === 0" id="childOrgs">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Child organisations
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{childOrganisations?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success pull-right" (click)="editChildOrganisations()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="childOrganisations"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'odsCode'"
                [secondaryOrderText]="'ODS Code'"
                [typeDescription]="'Child organisation'"
                [model]="'organisation'"
                [detailsToShow]="orgDetailsToShow"
                [allowDelete]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-panel>>
          <ngb-panel id="parentOrgs">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Parent organisations
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{parentOrganisations?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit"  type="button" class="btn btn-sm btn-success pull-right" (click)="editParentOrganisations()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="parentOrganisations"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'odsCode'"
                [secondaryOrderText]="'ODS Code'"
                [typeDescription]="'Parent organisation'"
                [model]="'organisation'"
                [detailsToShow]="orgDetailsToShow"
                [allowDelete]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
          <ngb-panel *ngIf="organisation.isService === 0" id="servs">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Services
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{services?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success pull-right" (click)="editServices()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="services"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'odsCode'"
                [secondaryOrderText]="'ODS Code'"
                [typeDescription]="'Service'"
                [model]="'organisation'"
                [detailsToShow]="orgDetailsToShow"
                [allowDelete]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </form>
      <br>
      <br>
    </div>
  </div>
</div>
