<div class="module">
  <div class="container-fluid">
    <div class="module-heading">Delegation</div>
    <div class="module-body">
      <div class="row">
        <div class="form-group col-md-4">
          <label class="control-label">Delegation</label>

          <div class="pull-right">
            <button *ngIf="admin" type="button" class="btn btn-sm btn-success" (click)="createDelegation()">Add</button>
            <button *ngIf="admin" type="button" class="btn btn-sm btn-danger" (click)="deleteDelegation()">Delete</button>
          </div>
          <div class="input-group">
            <span class="input-group-prepend"><i class="fa fa-th-large input-group-text"></i></span>
            <select class="form-control" [(ngModel)]="selectedDelegation" name="selectedDelegation" (change)="loadDelegation()">
              <option *ngFor="let del of delegations" [ngValue]="del">{{del.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row" *ngIf="selectedOrganisation">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header text-white">Selected organisation</div>
                <div class="card-body">
                  <p>{{selectedOrganisation.name}}</p>
                  <div *ngIf="!selectedIsRoot">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="custom-control custom-checkbox form-control-plaintext">
                          <input [disabled]="!admin" type="checkbox" class="custom-control-input" [(ngModel)]="selectedRelationship.createSuperUsers" id="chkCreateSuperUsers" name="createSuperUsers">
                          <label class="custom-control-label" for="chkCreateSuperUsers">Create Super Users</label>
                        </div>
                        <div class="custom-control custom-checkbox form-control-plaintext">
                          <input [disabled]="!admin" type="checkbox" class="custom-control-input" [(ngModel)]="selectedRelationship.createUsers" id="chkCreateUsers" name="createUsers">
                          <label class="custom-control-label" for="chkCreateUsers">Create Users</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pull-left">
                    <button *ngIf="admin && !selectedIsRoot" type="button" class="btn btn-sm btn-success" (click)="saveRelationship()">Save</button>
                    <button type="button" class="btn btn-sm btn-info" (click)="goToOrganisation()">View users at this organisation</button>
                    <button *ngIf="admin" type="button" class="btn btn-sm btn-success" (click)="addChildOrganisation()">Add child</button>
                    <button *ngIf="admin && !selectedOrganisation.children" type="button" class="btn btn-sm btn-danger" (click)="deleteChildOrganisation()">Delete</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="form-group col-md-12">
          <div #graphContainer>
            <d3-tree-graph [definition]="root" (nodeClick)="nodeClick($event)" #d3tree></d3-tree-graph>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
