<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>account_box</mat-icon>
    </div>
    <mat-card-title>Configuration</mat-card-title>
    <mat-card-subtitle>Configuration of the system</mat-card-subtitle>
    <div fxFlex></div>
  </mat-card-header>
  <mat-card-content>
    <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
      <div fxFlex="50">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Application policies</mat-card-title>
            <mat-card-subtitle>Manage application policies</mat-card-subtitle>
            <div fxFlex></div>
          </mat-card-header>
          <mat-card-content>
              <app-generic-table #applicationPoliciesTable
                [items]="appProfiles"
                [detailsToShow]="appPolicyDetailsToShow"
                (clicked)="editApplicationPolicy($event)"
                [allowSelect]="admin">
                <button role="selectionOnly" *ngIf="superUser" mat-icon-button color="warn" (click)="deleteApplicationPolicy()"><mat-icon>delete</mat-icon></button>
                <button *ngIf="superUser" mat-icon-button color="primary" (click)="addPolicy()"><mat-icon>add</mat-icon></button>
              </app-generic-table>
          </mat-card-content>
        </mat-card>

      </div>
      <div fxFlex="50">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Applications</mat-card-title>
            <mat-card-subtitle>Manage applications</mat-card-subtitle>
            <div fxFlex></div>
          </mat-card-header>
          <mat-card-content>

            <app-generic-table #applicationsTable
              [items]="applications"
              [detailsToShow]="appDetailsToShow"
              (clicked)="editApp($event)"
              [allowSelect]="admin">
              <button role="selectionOnly" *ngIf="superUser" mat-icon-button color="warn" (click)="deleteApplication()"><mat-icon>delete</mat-icon></button>
              <button *ngIf="superUser" mat-icon-button color="primary" (click)="addApplication()"><mat-icon>add</mat-icon></button>
            </app-generic-table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </mat-card-content>
</mat-card>
