<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      My sharing overview
    </div>
    <div class="module-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header bg-info">Data sharing agreements publishing to</div>
            <div class="card-block">
              <entity-viewer
                [items]="dsaPublishing"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Data Sharing Agreements'"
                [model]="'dsa'"
                [detailsToShow]="dsaDetailsToShow">
              </entity-viewer>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header bg-info">Data sharing agreements subscribing to</div>
            <div class="card-block">
              <entity-viewer
                [items]="dsaSubscribing"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Data Sharing Agreements'"
                [model]="'dsa'"
                [detailsToShow]="dsaDetailsToShow">
              </entity-viewer>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header bg-info">Data processing agreements publishing to</div>
            <div class="card-block">
              <entity-viewer
                [items]="dpaPublishing"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Data Sharing Agreements'"
                [model]="'dpa'"
                [detailsToShow]="dpaDetailsToShow">
              </entity-viewer>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
