<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>account_box</mat-icon>
    </div>
    <mat-card-title>{{dialogTitle}}</mat-card-title>
    <mat-card-subtitle>Configure the application policy</mat-card-subtitle>
    <div fxFlex></div>
    <div fxLayoutAlign="center" class="mat-action" matRipple (click)="editPolicy()">
      <i class="fas fa-fw fa-pencil"></i>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form class="form" #f="ngForm" novalidate>
      <div class="form-group" #fgName="ngModelGroup" ngModelGroup="application" [class.has-error]="!fgName.valid">
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
          <div fxFlex="100">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Details</mat-card-title>
                <mat-card-subtitle>Details of the application policy</mat-card-subtitle>
                <div fxFlex></div>
              </mat-card-header>
              <mat-card-content>
                <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">

                  <mat-form-field appearance="outline" fxFlex="100" fxFill mat-readonly>
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="resultPolicy.name" placeholder="Name" name="name" readonly>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex="100" fxFill mat-readonly>
                    <mat-label>Description</mat-label>
                    <input matInput [(ngModel)]="resultPolicy.description" placeholder="Description" name="description" readonly>
                  </mat-form-field>

                </div>
              </mat-card-content>
              <app-generic-table #policyTable
                                 [items]="policyAttributes"
                                 [detailsToShow]="appPolicyDetailsToShow"
                                 [allowSelect]="admin">
                <button role="selectionOnly" *ngIf="admin" mat-icon-button color="warn" (click)="removeAccessProfiles()"><mat-icon>delete</mat-icon></button>
                <button *ngIf="admin" mat-icon-button color="primary" (click)="addAttribute()"><mat-icon>add</mat-icon></button>
              </app-generic-table>
            </mat-card>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
</mat-card>
