<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>account_box</mat-icon>
    </div>
    <mat-card-title>Users</mat-card-title>
    <mat-card-subtitle *ngIf="!machineUsers">Users currently defined in the organisation</mat-card-subtitle>
    <mat-card-subtitle *ngIf="machineUsers">Machine users</mat-card-subtitle>
    <div fxFlex></div>
    <mat-menu #visualiseMenu="matMenu">
      <button *ngIf="superUser && !machineUsers" mat-menu-item (click)="viewMachineUsers()">View machine users</button>
      <button *ngIf="superUser && machineUsers" mat-menu-item (click)="viewHumanUsers()">View human users</button>
    </mat-menu>
    <div fxLayoutAlign="center" class="mat-action" matRipple>
      <mat-icon [matMenuTriggerFor]="visualiseMenu">more_vert</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table-compact" fxFlex="100" fxFill>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username</th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef> Surname</th>
          <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
        </ng-container>
        <ng-container matColumnDef="forename">
          <th mat-header-cell *matHeaderCellDef> Forename</th>
          <td mat-cell *matCellDef="let element"> {{element.forename}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div>
      </div>
      <mat-paginator [length]="filteredUserList.length"
                     [pageSize]="20"
                     [pageIndex]="0"
                     [pageSizeOptions]="[10, 20, 50, 100]"
                     [showFirstLastButtons]="true"
                     fxFlex="100"
                     fxFill>
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
<!--
<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Users
      <div class="pull-right">
        <button *ngIf="superUser && !machineUsers" class="btn btn-success" (click)="viewMachineUsers()">View machine
          users
        </button>
        <button *ngIf="superUser && machineUsers" class="btn btn-success" (click)="viewHumanUsers()">View human users
        </button>
      </div>
    </div>
    <div class="module-body">
      <div class="row">
        <div class="col-md-6">
          <div class="card" *ngIf="!machineUsers">
            <div class="card-header">
              Organisation users
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="scroll-box-500">
                    <loadingIndicator [done]="filteredUserList">
                      <table class="table table-striped table-sm">
                        <thead>
                        <tr class="d-flex">
                          <th class="col-4" (click)="sort('username');">Username
                            <span class="fa fa-sort" style="cursor: pointer"></span>
                          </th>
                          <th class="col-4" (click)="sort('surname');">Surname
                            <span class="fa fa-sort" style="cursor: pointer"></span>
                          </th>
                          <th class="col-4" (click)="sort('forename')">Forename
                            <span class="fa fa-sort" style="cursor: pointer"></span>
                          </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr *ngFor="let user of filteredUserList" class="hover-box show-child-on-hover d-flex"
                            (click)="changeSelectedUser(user)"
                            [ngClass]="{'selection': user == selectedUser}">

                          <td class="col-4">{{user.username}}</td>
                          <td class="col-4">{{user.surname}}</td>
                          <td class="col-4">{{user.forename}}</td>

                        </tr>
                        </tbody>
                      </table>
                    </loadingIndicator>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card" *ngIf="machineUsers">
            <div class="card-header">
              Machine users
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="scroll-box-500">
                    <loadingIndicator [done]="filteredUserList">
                      <table class="table table-striped table-sm">
                        <thead>
                        <tr class="d-flex">
                          <th class="col-4" (click)="sort('username');">Username
                            <span class="fa fa-sort" style="cursor: pointer"></span>
                          </th>
                          <th class="col-4" (click)="sort('surname');">Surname
                            <span class="fa fa-sort" style="cursor: pointer"></span>
                          </th>
                          <th class="col-4" (click)="sort('forename')">Forename
                            <span class="fa fa-sort" style="cursor: pointer"></span>
                          </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr *ngFor="let user of filteredUserList" class="hover-box show-child-on-hover d-flex"
                            (click)="changeSelectedUser(user)"
                            [ngClass]="{'selection': user == selectedUser}">

                          <td class="col-4">{{user.username}}</td>
                          <td class="col-4">{{user.surname}}</td>
                          <td class="col-4">{{user.forename}}</td>

                        </tr>
                        </tbody>
                      </table>
                    </loadingIndicator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
