<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      {{modeType}} manager
      <div class="pull-right">
        <button *ngIf="allowEdit" class="btn btn-sm btn-success"
                (click)="add()"
                title="Add">Add {{modeType}}
        </button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <div class="form-group col-md-12">
          <entity-viewer-ssp
            (onPageChange)="pageChange($event)"
            (onPageSizeChange)="pageSizeChange($event)"
            (search)="onSearch($event)"
            (onOrderChange)="onOrderChange($event)"
            (deleted)="delete($event)"
            [items]="organisations"
            [totalItems]="totalItems"
            [primary]="'name'"
            [primaryOrderText]="'Name'"
            [displayClass]="'region'"
            [secondary]="'odsCode'"
            [secondaryOrderText]="'ODS Code'"
            [typeDescription]="modeType"
            [allowDelete]="allowEdit"
            [model]="'organisation'"
            [pageSize]="pageSize"
            [pageNumber]="pageNumber"
            [maxPageSize]="48"
            [detailsToShow]="orgDetailsToShow">
          </entity-viewer-ssp>
        </div>
      </form>
    </div>
  </div>
</div>
