<div class="module">
  <div class="container-fluid">
    <div class="module-heading">User Manager</div>
    <div class="module-body">
      <div class="row">
        <div class="col-md-12">
          <div #graphContainer>
            <!--<tree-diagram [data]="treeData"></tree-diagram>-->
            <div id="delegate-chart" class="chart-container"></div>
          </div>
        </div>
      </div>
      <!--<div class="row">
        <tree-diagram [data]="treeData"></tree-diagram>
      </div>-->
    </div>
  </div>
</div>
