<div class="module">
  <div class="container-fluid">
    <div class="module-heading">User Manager</div>
    <div class="module-body">
      <div class="row">
        <div class="form-group col-md-4">
          <label class="control-label">Select Delegation</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
            <select class="form-control" [(ngModel)]="selectedDelegation" name="selectedDelegation" (change)="loadDelegation()">
              <option *ngFor="let del of delegations" [ngValue]="del">{{del.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-8">
          <button type="button" class="btn btn-sm btn-success" (click)="addChildOrganisation()">Add Child</button>
          <button type="button" class="btn btn-sm btn-success" (click)="addChildOrganisationToChart()">New Delegation</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <!--<div #graphContainer>
            <div id="delegate-chart" class="chart-container" #delegateChart></div>
          </div>-->
          <tree-graph [definition]="chartDef" (nodeClick)="nodeClick($event)" #treeChart></tree-graph>
        </div>
      </div>

      <!--<div class="row">
        <div class="col-md-12">
          &lt;!&ndash;<div #graphContainer>
            <div id="delegate-chart" class="chart-container" #delegateChart></div>
          </div>&ndash;&gt;
          <div id="delegate-Chart"></div>
        </div>
      </div>-->


      <br>
    </div>
  </div>
</div>
