<div class="modal-header">
  <h4 class="modal-title">New delegation</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <form endUserRole="form" class="container-fluid">
    <div class="row">
      <div class="form-group col-md-12">
        <label class="control-label">Search criteria</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search term" aria-describedby="searchTerm"
                 [(ngModel)]="searchData" (keyup.enter)="search()" autofocus name="searchData">
          <span class="input-group-prepend" (click)="search()" style="cursor: pointer">
						<i class="fa fa-search input-group-text" id="searchTerm" aria-hidden="true"></i>
					</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label class="control-label">Matches</label> <small class="text-muted"></small>
        <div class="scroll-box-150 form-control">
          <div *ngFor="let match of searchResults"
               class="hover-box show-child-on-hover striped">
            {{ match.name }}
            <button type="button" class="btn btn-xs btn-success pull-right child-to-show" (click)="addToSelection(match)">
              <span class="fa fa-sm fa-plus"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label class="control-label">Selection</label> <small class="text-muted"></small>
        <table class="table table-striped table-sm">
          <thead>
          <tr class="d-flex">
            <th class="w-50">Organisation name</th>
            <th class="w-25">
              <label>
                <input type="checkbox" (change)="checkAllUsers($event)">
              </label>
              Create users
            </th>
            <th class="w-25">
              <label>
                <input type="checkbox" (change)="checkAllSuperUsers($event)">
              </label>
              Create super users
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of resultData" class="hover-box show-child-on-hover d-flex">
            <td class="w-50">{{item.name}}</td>
            <td class="w-25">
              <label>
                <input type="checkbox" [(ngModel)]="item.createUsers" name="createUser">
              </label>
            </td>
            <td class="w-25">
              <label>
                <input type="checkbox" [(ngModel)]="item.createSuperUsers" name="createSuperUser">
              </label>
            </td>
            <button type="button" class="btn btn-xs btn-danger pull-right child-to-show" (click)="removeFromSelection(item)">
              <span class="fa fa-sm fa-remove"></span>
            </button>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="ok();">Ok</button>
  <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
</div>
