<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>lightbulb_outline</mat-icon>
    </div>
    <mat-card-title>{{modeType}}s</mat-card-title>
    <mat-card-subtitle>All the {{modeType}}s currently defined in the Data Sharing Manager</mat-card-subtitle>
    <div fxFlex></div>
    <mat-menu #visualiseMenu="matMenu">
      <button *ngIf="allowEdit" mat-menu-item (click)="add()">Add {{modeType | lowercase}}</button>
      <button mat-menu-item (click)="close()">Cancel</button>
    </mat-menu>
    <div fxLayoutAlign="center" class="mat-action" matRipple>
      <mat-icon [matMenuTriggerFor]="visualiseMenu">more_vert</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>
    <!--<table mat-table [dataSource]="organisations" class="mat-elevation-z8 mat-table-compact" *ngIf="organisations" fxFlex="100" fxFill>
      &lt;!&ndash; Name Column &ndash;&gt;
      &lt;!&ndash;<ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      &lt;!&ndash; Symbol Column &ndash;&gt;
      <ng-container matColumnDef="odsCode">
        <th mat-header-cell *matHeaderCellDef> ODS code</th>
        <td mat-cell *matCellDef="let element"> {{element.odsCode}} </td>
      </ng-container>&ndash;&gt;

      <ng-container *ngFor="let disCol of orgDeetsToShow;" matColumnDef="{{disCol.property}}">
        <th mat-header-cell *matHeaderCellDef> {{disCol.label}}</th>
        <td mat-cell *matCellDef="let element"> {{element[disCol.property]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="orgDetailsToShow"></tr>
      <tr mat-row *matRowDef="let row; columns: orgDetailsToShow;"
          [routerLink]="'/organisations/' + row.id"
      ></tr>
    </table>-->
    <app-generic-table-ssp
      [items]="organisations"
      [totalItems]="totalItems"
      [detailsToShow]="orgDetailsToShow"
      [pageSize]="20"
      [allowDelete]="allowEdit"
      (deleted)="delete($event)"
      (clicked)="itemClicked($event)"
      (onPageChange)="pageChange($event)"
      (onOrderChange)="onOrderChange($event)"
      (search)="onSearch($event)"></app-generic-table-ssp>

  </mat-card-content>
</mat-card>
