<div class="module">
  <div class="container-fluid">
    <div class="module-heading">{{dialogTitle}}
      <div class="pull-right">
        <button *ngIf="admin || selfEdit" type="button" class="btn btn-success" (click)="save(false);">Save</button>
        <button *ngIf="admin || selfEdit" type="button" class="btn btn-warning" (click)="save(true);">Save & close</button>
        <button type="button" class="btn btn-danger" (click)="close(true)">Close</button>
      </div>
    </div>
    <div class="module-body">
      <div *ngIf="existing">
        <div class="card">
          <div class="card-header">Add existing user</div>
          <div class="card-body">
            <form existingUserForm="form" class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">Search existing users</label>
                    <div class="input-group">
                      <input class="form-control" type="text" [(ngModel)]="searchTerm" (keyup.enter)="searchUsers()" name="searchTerm" placeholder="Search term..." #searchBox>
                      <span class="input-group-append" (click)="searchUsers()">
                        <em class="fa fa-search input-group-text" title="Search"></em>
                      </span>
                      <span class="input-group-append" (click)="clearSearch()">
                        <em class="fa fa-remove input-group-text" title="Clear search"></em>
                       </span>
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-12">
                  <label class="control-label">Search results</label>
                  <div class="scroll-box-150 form-control">
                    <loadingIndicator [done]="searched">
                      <div *ngFor="let user of userList"
                           class="hover-box show-child-on-hover striped">

                        {{user.forename}} {{user.surname}} ({{user.email}})

                        <button type="button" class="btn btn-xs btn-success pull-right child-to-show" (click)="selectUser(user)" title="Select user">
                          <span class="fa fa-plus"></span>
                        </button>
                      </div>
                    </loadingIndicator>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!------------------------------------------------------------------------------------------------->
      <!-- USER PROFILE DETAILS -->
      <!------------------------------------------------------------------------------------------------->
      <div *ngIf="!existing">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">Profile</div>
              <div class="card-body">
                <form UserDetails="form" class="container-fluid">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label required-field">Username</label>
                        <input type="text" *ngIf="isEditMode()" disabled class="form-control" placeholder="Username" [(ngModel)]="resultData.username" name="username" #username>
                        <input type="text" *ngIf="!isEditMode()" class="form-control" placeholder="Username" [(ngModel)]="resultData.username" name="username" #username>
                      </div>
                      <div class="form-group">
                        <label class="control-label required-field">Forename</label>
                        <input type="text" class="form-control" placeholder="Forename" [(ngModel)]="resultData.forename" name="forename" #forename>
                      </div>
                      <div class="form-group">
                        <label class="control-label required-field">Surname</label>
                        <input type="text" class="form-control" placeholder="Surname" [(ngModel)]="resultData.surname" name="surname" #surname>
                      </div>
                      <div class="form-group">
                        <label class="control-label required-field">Email</label>
                        <input type="text" class="form-control" placeholder="Email" [(ngModel)]="resultData.email" name="email" #email>
                      </div>
                      <small class="required-field-note"></small>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Photo</label>
                        <input type="text" class="form-control" placeholder="Photo URL" [(ngModel)]="resultData.photo" name="photo" #photo>
                        <br>
                        <img src="{{resultData.photo}}" class="img-rounded" height="136px" width="136px" alt="User photo">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Mobile</label>
                        <input type="text" class="form-control" placeholder="Mobile" [(ngModel)]="resultData.mobile" name="mobile">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <!------------------------------------------------------------------------------------------------->
            <!-- USER CREDENTIALS -->
            <!------------------------------------------------------------------------------------------------->
            <div class="card">
              <div class="card-header">Password</div>
              <div class="card-body">
                <form UserDetails2="form" class="container-fluid">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label required-field">New password</label>
                        <span class="info-icon" [ngbTooltip]="tipContentPassword"></span>
                        <ng-template #tipContentPassword>
                          <div class="text-left">The password must be at least eight characters long, include at least one digit and one Uppercase letter.</div>
                        </ng-template>
                        <input type="password" class="form-control" placeholder="Password" name="passwordNew" #password1>
                      </div>
                      <small class="required-field-note"></small>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label required-field">Password confirmation</label>
                        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="resultData.password" name="passwordConf" #password2>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!------------------------------------------------------------------------------------------------->
        <!-- ROLES -->
        <!------------------------------------------------------------------------------------------------->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">Projects</div>
              <div class="card-body">
                <form UserDetails2="form" class="container-fluid">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Assigned</label>
                        <div class="scroll-box-250 form-control">
                          <div *ngFor="let role of resultData.userProjects"
                               class="hover-box show-child-on-hover striped">
                            <div *ngIf="!role.deleted">
                              <div class="row">
                                <div class="col-md-8">
                                {{role.organisationName}} ({{role.projectName}})
                                </div>
                                <div *ngIf="role.default" class="col-md-2">
                                  <em class="fa fa-star" (click)="setAsDefaultRole(role)"></em>
                                </div>
                                <div *ngIf="!role.default" class="col-md-2">
                                  <em class="fa fa-star-o" (click)="setAsDefaultRole(role)"></em>
                                </div>
                                <div class="col-md-1 offset-1">
                                  <button type="button" class="btn btn-sm btn-danger pull-right child-to-show" (click)="removeCurrentRole(role)" title="Remove role">
                                    <span class="fa fa-sm fa-minus"></span>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Available at</label>
                          <select class="form-control" [(ngModel)]="selectedOrg" name="selectedOrg" (change)="getOrganisationProjects(selectedOrg.uuid)">
                            <option *ngFor="let del of delegatedOrganisations" [ngValue]="del">{{del.name}}</option>
                          </select>
                      </div>
                      <div class="scroll-box-150 form-control">
                        <loadingIndicator [done]="organisationProjects">
                          <div *ngFor="let orgProj of organisationProjects"
                               class="hover-box show-child-on-hover striped"
                               [ngClass]="{'selection': orgProj == selectedAvailableRole}">
                            {{orgProj.name}}
                            <button type="button" class="btn btn-sm btn-success pull-right child-to-show" (click)="addAvailableRole(orgProj)" title="Add project">
                              <em class="fa fa-sm fa-plus"></em>
                            </button>
                          </div>
                        </loadingIndicator>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!------------------------------------------------------------------------------------------------->
        <!-- Region abd application policy-->
        <!------------------------------------------------------------------------------------------------->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">Application access</div>
              <div class="card-body">
                <form UserDetails2="form" class="container-fluid">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Data sharing manager region</label>
                        <select class="form-control" [(ngModel)]="selectedRegion" name="selectedRegion" (change)="changeUserRegion(selectedRegion.uuid)">
                          <option *ngFor="let reg of availableRegions" [ngValue]="reg">{{reg.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Application policy</label>
                        <select class="form-control" [(ngModel)]="selectedApplicationPolicy" name="selectedApplicationPolicy" (change)="changeUserApplicationPolicy(selectedApplicationPolicy.id)">
                          <option *ngFor="let pol of availablePolicies" [ngValue]="pol">{{pol.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
