<div class="module">
  <div class="container-fluid">
    <div class="module-heading">Users</div>
    <div class="module-body">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              Organisation users
              <div class="pull-right">
                <button *ngIf="superUser" class="btn btn-success" (click)="addUser()">Add new user</button>
                <button *ngIf="superUser" class="btn btn-success" (click)="addExisting()">Add existing user</button>
              </div>
            </div>
            <div class="card-block">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">Select organisation</label>
                    <select class="form-control" [(ngModel)]="selectedOrg" name="selectedOrg" (change)="getUsers()">
                      <option *ngFor="let del of delegatedOrganisations" [ngValue]="del">{{del.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <!--<div class="col-md-7">
                      <select class="form-control" [(ngModel)]="selectedOrganisation" (ngModelChange)="setOrganisation($event)" name="Organisation" #organisation>
                        <option *ngFor="let item of userOrganisations" [ngValue]="item">{{item.name}}</option>
                      </select>
                    </div>-->
                    <!--<div class="col-md-5">
                      <div class="input-group">
                        <input class="form-control" type="text" [(ngModel)]="searchTerm" (keyup)="searchUsers()" name="searchTerm" placeholder="Search term...">
                        <span *ngIf="searched" class="btn input-group-addon" (click)="clearSearch(); ">
												<i class="fa fa-remove" title="Clear search"></i>
											</span>
                        <span class="btn input-group-addon" (click)="searchUsers()">
												<i class="fa fa-search" title="Search"></i>
											</span>
                      </div>
                    </div>-->
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="scroll-box-500">
                    <loadingIndicator [done]="filteredUserList">
                      <table class="table table-striped table-sm">
                        <thead>
                        <tr class="d-flex">
                          <th class="col-4"  (click)="sort('username');">Username
                            <span *ngIf="sortField == 'username'"
                                  class="fa fa-sm"
                                  [ngClass]="{'fa-chevron-down':!sortReverse, 'fa-chevron-up':sortReverse}"></span>

                          </th>
                          <th class="col-4" (click)="sort('surname'); sortReverse=!sortReverse">Surname
                            <span *ngIf="sortField == 'surname'"
                                  class="fa fa-sm"
                                  [ngClass]="{'fa-chevron-down':!sortReverse, 'fa-chevron-up':sortReverse}"></span>
                          </th>
                          <th class="col-4" (click)="sort('forename')">Forename
                            <span *ngIf="sortField == 'forename'"
                                  class="fa fa-sm"
                                  [ngClass]="{'fa-chevron-down':!sortReverse, 'fa-chevron-up':sortReverse}"></span>
                          </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr *ngFor="let user of filteredUserList" class="hover-box show-child-on-hover d-flex"
                            (click)="changeSelectedUser(user)"
                            [ngClass]="{'selection': user == selectedUser}">

                          <td class="col-4">{{user.username}}</td>
                          <td class="col-4">{{user.surname}}</td>
                          <td class="col-4">{{user.forename}}</td>

                        </tr>
                        </tbody>
                      </table>
                    </loadingIndicator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-header">
              User details
              <div class="pull-right">
                <button *ngIf="selectedUser && superUser" class="btn btn-info" (click)="viewBio(selectedUser)">View Bio</button>
                <button *ngIf="selectedUser && superUser" class="btn btn-success" (click)="editUser(selectedUser)">Edit</button>
                <button *ngIf="selectedUser && superUser" class="btn btn-danger" (click)="deleteUser(selectedUser)">Delete</button>
              </div>
            </div>
            <div class="card-block">
              <div class="row">
                <div class="col-md-12" *ngIf="selectedUser==null">No user selected</div>
              </div>
              <div class="row" *ngIf="selectedUser">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Username</label>
                    <input type="text" readonly class="form-control" placeholder="Username" [(ngModel)]="selectedUser.username" name="username">
                  </div>
                  <div class="form-group">
                    <label class="control-label">Forename</label>
                    <input type="text" readonly class="form-control" placeholder="Forename" [(ngModel)]="selectedUser.forename" name="forename">
                  </div>
                  <div class="form-group">
                    <label class="control-label">Surname</label>
                    <input type="text" readonly class="form-control" placeholder="Surname" [(ngModel)]="selectedUser.surname" name="surname">
                  </div>
                  <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" readonly class="form-control" placeholder="Email" [(ngModel)]="selectedUser.email" name="email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-box">Photo</label>
                    <input type="text" readonly class="form-control" placeholder="Photo URL" [(ngModel)]="selectedUser.photo" name="photo">
                    <img src="{{selectedUser.photo}}" class="img-rounded" height="156px" width="156px">
                  </div>
                  <div class="form-group">
                    <label class="control-label">Mobile</label>
                    <input type="text" readonly class="form-control" placeholder="Mobile" [(ngModel)]="selectedUser.mobile" name="mobile">
                  </div>
                </div>
                <div class="col-md-12">
                  <label>Roles</label>
                  <loadingIndicator [done]="loadingRolesCompleted">
                    <div class="col-md-12" *ngIf="selectedUser.userRoles!=null&&selectedUser.userRoles.length==0">No roles assigned</div>
                    <div class="col-md-12" *ngIf="selectedUser.userRoles!=null&&selectedUser.userRoles.length>0">
                      <div class="scroll-box-150">
                        <table class="table table-striped table-sm">
                        <thead>
                          <th class="w-50">Organisation</th>
                          <th class="w-50">Role</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let role of selectedUser.userRoles" class="hover-box show-child-on-hover">
                            <td>{{role.organisationName}}</td>
                            <td>{{role.roleTypeName}}</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    </div>
                  </loadingIndicator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
