<h1 mat-dialog-title>Add users</h1>
<div mat-dialog-content>
  <div class="scroll-box-400">
    <app-generic-table #picker
                       [items]="searchResults"
                       [detailsToShow]="userDetailsToShow"
                       [allowSelect]="true">
    </app-generic-table>
  </div>
  <br>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="accent" (click)="cancel()">Cancel</button>
  <button mat-flat-button color="accent" [disabled]="picker.selection.selected.length < 1" (click)="ok()">Add selected</button>
</div>
