<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Cohort details
      <div class="pull-right">
        <button type="button" class="btn btn-sm btn-success" (click)="save(false)">Save</button>
        <button type="button" class="btn btn-sm btn-warning" (click)="save(true)">Save & close</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Cohort name</label>
            <input type="text" class="form-control" placeholder="Cohort name" [(ngModel)]="cohort.name" name="name">
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Nature</label>
            <input type="text" class="form-control" placeholder="Nature" [(ngModel)]="cohort.nature" name="nature">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Patient cohort inclusion consent model</label>
            <input type="text" class="form-control" placeholder="Patient cohort inclusion consent model" [(ngModel)]="cohort.patientCohortInclusionConsentModel" name="patientCohortInclusionConsentModel">
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Query definition</label>
            <input type="text" class="form-control" placeholder="Query definition" [(ngModel)]="cohort.queryDefinition" name="queryDefinition">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Removal policy</label>
            <input type="text" class="form-control" placeholder="Removal policy" [(ngModel)]="cohort.removalPolicy" name="removalPolicy">
          </div>
        </div>

        <ngb-accordion>
          <ngb-panel id="regs">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Data processing agreements
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{dpas?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button type="button" class="btn btn-sm btn-success pull-right" (click)="editDataProcessingAgreement()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="dpas"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Regions'"
                [model]="'region'"
                [detailsToShow]="dpaDetailsToShow">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </form>
    </div>
  </div>
</div>
