<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Cohort details
      <div class="pull-right">
        <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="save(false)">Save</button>
        <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-warning" (click)="save(true)">Save & close</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Cohort name</label>
            <input type="text" class="form-control" placeholder="Cohort name" [(ngModel)]="cohort.name" name="name">
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Consent model</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
              <select class="form-control" [(ngModel)]="cohort.consentModelId" name="consentModelId">
                <option *ngFor="let con of consents" [ngValue]="con.num">{{con.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Description</label>
            <input type="text" class="form-control" placeholder="Description" [(ngModel)]="cohort.description" name="description">
          </div>
        </div>

        <ngb-accordion>
          <ngb-panel id="regs">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Data processing agreements
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{dpas?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success pull-right" (click)="editDataProcessingAgreement()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="dpas"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Regions'"
                [model]="'dpa'"
                [detailsToShow]="dpaDetailsToShow"
                [allowDelete]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </form>
    </div>
  </div>
</div>
