<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Region details
      <div class="pull-right">
        <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="save(false)">Save</button>
        <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-warning" (click)="save(true)">Save & close</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <fieldset disabled="!allowEdit">
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Region name</label>
              <input type="text" class="form-control" placeholder="Region name" [(ngModel)]="region.name" name="name">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Region description</label>
              <input type="text" class="form-control" placeholder="Region description" [(ngModel)]="region.description" name="description">
            </div>
          </div>
        </fieldset>

        <ngb-accordion>
          <ngb-panel id="sharingAgreement">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Sharing agreements
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{sharingAgreements?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit" type="button" class="btn btn-xs btn-success pull-right" (click)="editSharingAgreements()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="sharingAgreements"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Sharing Agreement'"
                [model]="'dsa'"
                [detailsToShow]="sharingAgreementsDetailsToShow"
                [allowDelete]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="parentRegion">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Parent regions
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{parentRegions?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit" type="button" class="btn btn-xs btn-success pull-right" (click)="editParentRegions()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="parentRegions"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Parent Region'"
                [model]="'region'"
                [detailsToShow]="regionDetailsToShow"
                [allowDelete]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="childRegion">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Child regions
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{childRegions?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit" type="button" class="btn btn-xs btn-success pull-right" (click)="editChildRegions()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="childRegions"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Child Region'"
                [model]="'region'"
                [detailsToShow]="regionDetailsToShow"
                [allowDelete]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="orgs">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Organisations
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{organisations?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit" type="button" class="btn btn-xs btn-success pull-right" (click)="editOrganisations()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="organisations"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'odsCode'"
                [secondaryOrderText]="'ODS Code'"
                [typeDescription]="'Organisation'"
                [model]="'organisation'"
                [pageSize]="12"
                [detailsToShow]="orgDetailsToShow"
                [allowDelete]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
        <eds-google-maps
          [markers]="markers">
        </eds-google-maps>
        <br>
        <br>
      </form>
    </div>
  </div>
</div>
