<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Data flow details
      <div class="pull-right">
        <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="save(false)">Save</button>
        <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-warning" (click)="save(true)">Save & close</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <fieldset [disabled]="!allowEdit">
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Data flow name</label>
              <input type="text" class="form-control" placeholder="Data flow name" [(ngModel)]="dataFlow.name" name="name">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="control-label">Direction</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="dataFlow.directionId" name="directionId">
                  <option *ngFor="let direction of flowDirections" [ngValue]="direction.num">{{direction.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Flow schedule</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="dataFlow.flowScheduleId" name="flowScheduleId">
                  <option *ngFor="let schedule of flowSchedules" [ngValue]="schedule.num">{{schedule.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Data exchange method</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="dataFlow.dataExchangeMethodId" name="dataExchangeMethodId">
                  <option *ngFor="let method of exchangeMethod" [ngValue]="method.num">{{method.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Flow status</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="dataFlow.flowStatusId" name="flowStatusId">
                  <option *ngFor="let status of flowStatus" [ngValue]="status.num">{{status.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="control-label">Storage protocol</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="dataFlow.storageProtocolId" name="storageProtocolId">
                  <option *ngFor="let sps of storageProtocols" [ngValue]="sps.num">{{sps.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group col-md-3">
              <label class="control-label">Security infrastructure</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="dataFlow.securityInfrastructureId" name="securityInfrastructureId">
                  <option *ngFor="let sis of securityInfrastructures" [ngValue]="sis.num">{{sis.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Storage protocol</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                <select class="form-control" [(ngModel)]="dataFlow.securityArchitectureId" name="securityArchitectureId">
                  <option *ngFor="let sas of securityArchitectures" [ngValue]="sas.num">{{sas.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Approximate volume</label>
              <input type="text" class="form-control" placeholder="Approximate volume" [(ngModel)]="dataFlow.approximateVolume" name="approximateVolume">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Sign off</label>
              <input type="text" class="form-control" placeholder="Sign off" [(ngModel)]="dataFlow.signOff" name="signOff">
            </div>
          </div>
        </fieldset>

        <ngb-accordion>
          <ngb-panel id="datashare">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Data sharing agreements
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{dsas?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit" type="button" class="btn btn-xs btn-success pull-right" (click)="editDataSharingAgreements()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="dsas"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Data sharing agreement'"
                [model]="'dsa'"
                [detailsToShow]="dsaDetailsToShow">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="dataproc">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Data processing agreements
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{dpas?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button *ngIf="allowEdit" type="button" class="btn btn-xs btn-success pull-right" (click)="editDataProcessingAgreements()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="dpas"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Data processing agreement'"
                [model]="'dpa'"
                [detailsToShow]="dpaDetailsToShow">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="docs">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Associated documentation
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{documentations?.length}}</span>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer (deleted)="delete($event)"
                             [items]="documentations"
                             [primary]="'title'"
                             [primaryOrderText]="'Title'"
                             [displayClass]="'region'"
                             [typeDescription]="'Associated Documentation'"
                             [model]="'documentation'"
                             [detailsToShow]="documentDetailsToShow">
              </entity-viewer>
              <div *ngIf="allowEdit" class="row">
                <div class="col-md-6">
                  <div class="card h-100">
                    <div class="card-header bg-success">Upload associated documentation</div>
                    <div class="card-block">
                      <form class="container-fluid">
                        <div class="row">
                          <div class="form-group col-md-12">
                            <button for="fileUpload" id="fileUpload" class="btn btn-primary" (click)="fileUploader.click()">Select files</button>
                            <input #fileUploader type="file" (change)="fileChange($event)" accept=".pdf">
                            <label class="control-label" for="fileUpload" *ngIf="!file">No files selected</label>
                            <label class="control-label" for="fileUpload" *ngIf="file">{{file.name}}</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <button type="button" class="btn bnt-default" (click)="cancel()">Cancel</button>
                            <button type="button" class="btn btn-primary" (click)="ok()" [disabled]="!file">OK</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </form>
      <br>
      <br>
    </div>
  </div>
</div>
