<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>account_box</mat-icon>
    </div>
    <mat-card-title>{{dialogTitle}}</mat-card-title>
    <mat-card-subtitle>Configure users</mat-card-subtitle>
    <div fxFlex></div>
    <mat-menu #visualiseMenu="matMenu">
      <button *ngIf="admin || selfEdit" mat-menu-item (click)="save(false)">Save</button>
      <button *ngIf="admin || selfEdit" mat-menu-item (click)="save(true)">Save & close</button>
      <button mat-menu-item (click)="close(true)">Close</button>
    </mat-menu>
    <div fxLayoutAlign="center" class="mat-action" matRipple>
      <mat-icon [matMenuTriggerFor]="visualiseMenu">more_vert</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
</mat-card>
