// Theme overrides for angular2-datetimepicker

.wc-date-container{
  display: block !important;
  width: 100% !important;
  padding: 0.5rem 0.75rem !important;
  font-size: 14px !important;
  font-family: sans-serif !important;
  line-height: 1.25 !important;
  height: calc(1.96875rem + 2px) !important;
  color: #464a4c !important;
  background-color: #fff !important;
  background-image: none !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.25rem !important;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s !important;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s !important;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s !important;
  span {
    color: #464a4c !important;
    font-family: sans-serif !important;
    font-size: 14px !important;
  }
  i {
    color: white !important;
    font-size: 14px !important;
  }
}

.wc-banner,
.wc-details,
.year-title,
.selected-day > span,
.current-year,
.current-month,
.time-view-btn > .button,
.meridian > .cuppa-btn-group > button.button.active {
  background: $theme-colour !important;
  border-color: $theme-colour !important;
  color: white !important;
}

.calendar-day:hover > span,
.years-list-view > span:hover,
.months-view > span:hover,
.cuppa-btn-group > button.button:hover {
  background: $theme-light !important;
  border-color: $theme-light !important;
  color: white !important;
}

.calendar-days,
.cal-util > .ok,
.time-view > .time > .hour > input,
.time-view > .time > .minutes > input,
.time-view > .time > .time-divider
{
  color: $theme-colour !important;
}

.meridian > .cuppa-btn-group > .button {
  border-color: $theme-colour !important;
  color: $theme-colour !important;
}

