<div class="module">
  <div class="container-fluid">
    <div class="module-heading">{{dialogTitle}}
      <div class="pull-right">
        <button *ngIf="admin" [disabled]="!f.valid" type="button" class="btn btn-success" (click)="save(false);">Save</button>
        <button *ngIf="admin" [disabled]="!f.valid" type="button" class="btn btn-warning" (click)="save(true);">Save & close</button>
        <button type="button" class="btn btn-danger" (click)="close(true)">Close</button>
      </div>
    </div>
    <div class="module-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">Details</div>
            <div class="card-body">
              <form class="form" #f="ngForm" novalidate>
                <div class="form-group" #fgName="ngModelGroup" ngModelGroup="application" [class.has-error]="!fgName.valid">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label required-field">Name</label>
                        <input type="text" required class="form-control" placeholder="Username" [(ngModel)]="resultApp.name" name="name">
                      </div>
                      <small class="required-field-note"></small>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label required-field">Description</label>
                        <input type="text" required class="form-control" placeholder="Description" [(ngModel)]="resultApp.description" name="description">
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Attributes
              <div class="pull-right">
                <button *ngIf="admin" type="button" class="btn btn-success" (click)="newProfile();">New attribute</button>
                <button *ngIf="admin" type="button" class="btn btn-success" (click)="saveProfile();">Save attribute</button>
                <button *ngIf="admin" type="button" class="btn btn-danger" (click)="deleteProfile();">Delete attribute</button>
              </div>

            </div>
            <div class="card-body">
              <div class="scroll-box-500">
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-prepend"><i class="fa fa-th-large input-group-text"></i></span>
                      <select class="form-control" [(ngModel)]="selectedProfile" name="selectedProfile">
                        <option *ngFor="let profile of applicationProfiles" [ngValue]="profile">{{profile.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div *ngIf="selectedProfile">
                  <form class="form" #f="ngForm" novalidate>
                    <div class="form-group" #fgName="ngModelGroup" ngModelGroup="profile" [class.has-error]="!fgName.valid">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label required-field">Name</label>
                            <input type="text" required class="form-control" placeholder="Name" [(ngModel)]="selectedProfile.name" name="name">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label required-field">Description</label>
                            <input type="text" required class="form-control" placeholder="Description" [(ngModel)]="selectedProfile.description" name="description">
                          </div>
                        </div>
                      </div>
                      <!--<div class="row">
                        <div class="col-md-12">
                          <div class="scroll-box-500">
                            <json-editor [options]="editorOptions" [data]="profileData" #applicationEditor></json-editor>
                          </div>
                        </div>
                      </div>-->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
