<div class="module">
  <div class="container-fluid">
    <div class="module-heading">{{user.forename}} {{user.surname}} ({{user.username}}) - Access summary
      <div class="pull-right">
        <button type="button" class="btn btn-info" (click)="refresh()">Refresh</button>
        <button type="button" class="btn btn-danger" (click)="close()">Close</button>
      </div>
    </div>
    <div class="module-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">User access</div>
            <div class="card-block">
              <div class="row">
                <div class="col-md-6">
                  <label class="control-label">Select role</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                    <select class="form-control" [(ngModel)]="selectedRole" name="selectedRole" (change)="loadRoleProfile()">
                      <option *ngFor="let role of user.userRoles" [ngValue]="role">{{role.roleTypeName}} ({{role.organisationName}})</option>
                    </select>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-left">
                    <ng-container *ngFor="let app of accessProfiles">
                      <button type="button" [ngClass]="setButtonClass(app.canAccessData)" (click)="selectApp(app)">{{app.applicationName}}</button>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row" *ngIf="selectedApp">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">{{selectedApp.applicationName}} - Application profiles</div>
            <div class="card-block">
              <div class="row">
                <div class="col-md-12">
                  <div *ngFor="let profile of selectedApp.roleTypeAccessProfiles" class="hover-box show-child-on-hover striped">
                    <div class="row">
                      <div class="col-md-6" (click)="selectProfile(profile)">
                        {{profile.applicationAccessProfileName}}
                      </div>
                      <div class="col-md-6" (click)="selectProfile(profile)">
                        {{profile.applicationAccessProfileDescription}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row" *ngIf="selectedProfile">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">{{selectedApp.applicationName}} - {{selectedProfile.applicationAccessProfileName}} - Client Access</div>
            <div class="card-block">
              <div class="row">
                <div class="col-md-12">
                  <div *ngFor="let client of selectedProfileTree.accessProfile" class="hover-box show-child-on-hover striped">
                    <div class="row">
                      <div class="col-md-6">
                        {{client.clientRole}}
                      </div>
                      <div class="col-md-6">
                        {{client.clientRoleDescription}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row" *ngIf="selectedProfile">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">{{selectedApp.applicationName}} - {{selectedProfile.applicationAccessProfileName}} - Sharing Agreements</div>
            <div class="card-block">
              <div class="row">
                <div class="col-md-12">
                  <div *ngIf="!selectedProfileTree.sharingAgreementsHasAccess">
                    <div class="row">
                      <div class="col-md-6">
                        Organisation is not part of any matching sharing agreements.
                      </div>
                    </div>
                  </div>
                  <div *ngFor="let agreement of selectedProfileTree.sharingAgreementsHasAccess" class="hover-box show-child-on-hover striped">
                    <div class="row">
                      <div class="col-md-6" (click)="selectAgreement(agreement)">
                        {{agreement.sharingAgreementName}}
                      </div>
                      <div *ngIf="selectedProfileTree.PID === 'true'" class="col-md-3" (click)="selectAgreement(agreement)">
                        <span class="badge badge-warning">Patient identifiable data</span>
                      </div>
                      <div *ngIf="selectedProfileTree.PID === 'false'" class="col-md-3" (click)="selectAgreement(agreement)">
                        <span class="badge badge-info">Pseudonymised data</span>
                      </div>
                      <div *ngIf="agreement.sharingAgreementName" class="col-md-3" (click)="selectAgreement(agreement)">
                        <button type="button" class="btn btn-info btn-sm" (click)="viewSharingAgreement(agreement)">View sharing agreement</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row" *ngIf="selectedSharingAgreement">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">{{selectedApp.applicationName}} - {{selectedSharingAgreement.sharingAgreementName}} - Organisations</div>
            <div class="card-block">
              <div class="row">
                <div class="col-md-12">
                  <div *ngFor="let org of selectedSharingAgreement.organisations" class="hover-box show-child-on-hover striped">
                    <div class="row">
                      <div class="col-md-6">
                        {{org.name}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
