<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Data set details
      <div class="pull-right">
        <button type="button" class="btn btn-sm btn-success" (click)="save(false)">Save</button>
        <button type="button" class="btn btn-sm btn-warning" (click)="save(true)">Save & close</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Data set name</label>
            <input type="text" class="form-control" placeholder="Data set name" [(ngModel)]="dataset.name" name="name">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Data set description</label>
            <input type="text" class="form-control" placeholder="Data Set description" [(ngModel)]="dataset.description" name="description">
          </div>
        </div>

        <ngb-accordion>
          <ngb-panel id="dataproc">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-md-2">
                  Data processing agreements
                </div>
                <div class="col-md-1">
                  <span class="badge badge-pill badge-primary">{{dpas?.length}}</span>
                </div>
                <div class="col-md-1">
                  <button type="button" class="btn btn-xs btn-success pull-right" (click)="editDataProcessingAgreements()">Edit</button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <entity-viewer
                [items]="dpas"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Data Processing Agreement'"
                [model]="'dpa'"
                [detailsToShow]="dpaDetailsToShow">
              </entity-viewer>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </form>
      <br>
      <br>
    </div>
  </div>
</div>
