
<div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
  <mat-form-field>
    <input matInput [(ngModel)]="filterText" (keyup.enter)="applyFilter($event.target.value)" placeholder="Filter">
    <mat-icon matSuffix (click)="clear()" style="cursor: pointer">clear</mat-icon>
  </mat-form-field>

  <mat-menu #itemActionMenu="matMenu">
    <button mat-menu-item (click)="deleteItems()">Delete selected</button>
  </mat-menu>
  <div fxLayoutAlign="center" class="mat-action" matRipple>
    <mat-icon [matMenuTriggerFor]="itemActionMenu">more_vert</mat-icon>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table-compact"
         fxFlex="100" fxFill matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

    <ng-container *ngFor="let disCol of detailsToShow;" matColumnDef="{{disCol.property}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{disCol.label}}</th>
      <td mat-cell *matCellDef="let element"> {{element[disCol.property]}} </td>
    </ng-container>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="propertiesToShow"></tr>
    <tr mat-row *matRowDef="let row; columns: propertiesToShow;"
        (click)="clickItem(row)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                 [showFirstLastButtons]="true"
                 [pageSize]="pageSize"
                 [length]="totalItems"
                 (page)="changePage($event)"
                 fxFlex="100"
                 fxFill></mat-paginator>
</div>
